/* Tweet Input */
.new-tweet {
    border-radius: 10px;
    width: 50%;
    margin: auto auto 20px auto;
    background-color: #eeeeee;
    padding: 3%;
    box-shadow: 5px 5px #d4d3d3;
}

.new-tweet h2 {
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
}

.tweet-input {
    display: inline-block;
    padding: 3px;
    width: 99%;
    height: 100px;
}

.counter {
    float: right;
    font-style: italic;
}

.setRed {
    color: red;
}


/* Article */
.tweet {
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 55.5%;
    margin: auto auto 20px auto;
    background-color: white;
    opacity: 0.75;
    /* padding: 2%; */
}

.tweet:hover {
    opacity: 1.2;
}

/* Article Header */
header {
    display: flex;
    background-color: #eeeeee;
    border-radius: 10px 10px 0 0;
}

header img {
    margin: 10px;
}

header .title {
    line-height: 1;
}

header .userId {
    margin-left: auto;
    margin-right: 10px;
}

/* Article Body */
.tweet-body {
    margin-left: 10px;
    height: 100px;
}

.tweet-body .userTweet {
    text-align: center;
    line-height: 5;

}

/* Article Footer */
footer .daysAgo {
    margin-left: 20px;
}